<section>
  <div class="container py-5">
    <h1 class=" fw-bold fs-3 mb-5 text-center">Наши чайные коллекции</h1>
    <div class="row  row-cols-lg-3  row-cols-md-2 row-cols-1 g-4 justify-content-around">

<appTeaItem *ngFor="let item of teaProducts" [item]="item"></appTeaItem>

<!--      <div *ngFor="let item of teaProducts" class="col">-->
<!--        <div class="card h-100 w-100 wow animate__pulse" style="width: 18rem;">-->
<!--          <a href="#" class="imageOpen"> <img [src]="item.image" class="card-img-top" alt="..."> </a>-->
<!--          <div class="card-body p-3">-->
<!--            <h5 class="card-title fw-semibold">{{item.title}}</h5>-->
<!--            <p class="card-text ">{{item.description | textSlicePipe }}</p>-->
<!--            <a href="#" class="btn btn-primary px-5 hvr-float-shadow">Подробнее</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->



    </div>
  </div>
</section>
